deploy:
  runs-on: ubuntu-latest
  needs: build
  permissions:
    id-token: write
    contents: read

  steps:
    - name: Download artifact from build job
      uses: actions/download-artifact@v4
      with:
        name: python-app
        path: ./python-app   # ✅ place artifact in a folder

    - name: Login to Azure
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_A66E60BAA7704CA69F1A6E8F1BE55915 }}
        tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_5482A1BBFAE84647825854A829F59B91 }}
        subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_23939752EA024BAEB993D70C3DA55E1B }}

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v3
      id: deploy-to-webapp
      with:
        app-name: 'ecommerce-webapp-nd'
        slot-name: 'Production'
        package: ./python-app   # ✅ deploy the extracted artifact folder, not tar.gz
